<div data-controller="loading">

  <%= form_with url: emotion_tarot_results_path,
        method: :post,
        data: { action: "submit->loading#show" } do |f| %>

    <%= f.radio_button :emotion, "happy" %> 嬉しい
    <%= f.radio_button :emotion, "sad" %> 悲しい
    <%= f.radio_button :emotion, "anxious" %> 不安

    <%= f.submit "占う" %>
  <% end %>

  <div id="loading" class="hidden">
    <p>カードを引いています…</p>
  </div>

</div>
